
<div class="align container mt-xl-5">
<ng-container *ngIf="categoryDoesntExist;else CategoryNotExist">
    <h1 class="mt-3">Editing {{category.name}} Category</h1>
  
    <div class="mt-3">
  
      <div class="form__field mt-3">
        <input type="text" class="form__input" pattern=".{6,}" name="CategoryName" [(ngModel)]="categoryModel.Name">
        <span class="icon"></span>
      </div>

      <div class="form__field mt-3 mb-3">
        <input type="text" class="form__input" pattern=".{6,}" name="CategoryUrlHandle" required  [(ngModel)]="categoryModel.urlHandle">
        <span class="icon"></span>
      </div>
      
      <div class="mt-3">
        <button type="button" class="btn btnSave modal-content" (click)="UpdateCategory()">
            Save
        </button>
    </div>

    </div>
</ng-container>

   

    <ng-template #CategoryNotExist>
        <div class="alert alert-warning" role="alert">
            Category Doesnt Exists
          </div>
    </ng-template>
</div>